/* Imports de fonts */

@font-face {
    font-family: 'inter';
    src: url(../assets/fonts/static/Inter-Medium.ttf);
}


/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* genericas */

.mostrar-menu {
    left: 0 !important;
}

.grid-layout {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    color: white;
    background-color: #1B1426;
}


/* HEADER */

header {
    position: fixed top 0;
    width: 100vw;
    height: 60px;
    z-index: 100;
    background-color: #1B1426;
}

header .logo {
    height: 25px;
    width: 85px;
}

header nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    z-index: 101;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, rgba(131, 131, 131, 0.7), rgba(131, 131, 131, 0.4));
    backdrop-filter: blur(45px);
    transition: left 0.7s;
}

header .header-top {
    display: none;
}

header .header-bottom {
    height: 100%;
}

header .menu-navegacao a {
    text-decoration: none;
    border-bottom: 2px #F9AA01 solid;
    height: 85px;
    font-size: 15px;
    font-family: 'inter';
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .phone {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #F9AA01;
    height: 85px;
    font-size: 15px;
    font-family: 'inter';
    gap: 15px;
}

header .mail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    font-size: 15px;
    font-family: 'inter';
    gap: 15px;
}

.header-bottom .midias-sociais2 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    border-bottom: 0px #F9AA01 solid;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

header .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -20vw;
    width: 20vw;
    z-index: 102;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right bottom, rgba(131, 131, 131, 0.7), rgba(131, 131, 131, 0.4));
    backdrop-filter: blur(45px);
    transition: left 0.7s;
}

.mostrar-usuarios {
    right: 0 !important;
}