/* Imports de fonts */

@font-face {
    font-family: 'inter';
    src: url(../assets/fonts/static/Inter-Medium.ttf);
}


/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-layout {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

body {
    color: white;
    background-color: #1B1426;
}


/* HEADER */

header {
    background-color: #1B1426;
    height: 60px;
}

header .logo {
    height: 25px;
    width: 85px;
}

header nav {
    position: fixed;
    top: 60px;
    left: 0;
    width: 80vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

header .header-top {
    display: none;
}

header .menu-usuarios {
    display: none;
}

header .alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-bottom {
    height: 100%;
}

header .menu-navegacao a {
    text-decoration: none;
    border-bottom: 2px #F9AA01 solid;
    height: 85px;
    font-size: 15px;
    font-family: 'inter';
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .phone {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #F9AA01;
    height: 85px;
    font-size: 15px;
    font-family: 'inter';
}

header .mail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    font-size: 15px;
    font-family: 'inter';
}

.header-bottom .midias-sociais2 {
    height: 100px;
    border-bottom: 0px #F9AA01 solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/*  */


/*  */

.menu {
    display: none;
}


/*  */


/*  */