@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-layout {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}


/* Header */

header .menu-hamburguer {
    display: none;
}

header #menu {
    display: none;
}

header {
    position: absolute;
    width: 100%;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    gap: 30px;
    font-family: "Lato";
    font-weight: 500;
}

header nav {
    width: 365px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .button-cadastrar {
    border: 2px solid white;
    border-radius: 8px;
    width: 151px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Main */

.LogoAndLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-1 {
    /* background-color: #1E52B4; */
    background: linear-gradient(to left, #002777, #1E52B4);
    color: white;
    height: 461px;
}

.section-1 h1 {
    font-size: 28px;
    font-family: "Lato";
    font-weight: 600;
}

.section-1 p {
    width: 414px;
    font-size: 18px;
    font-family: "Lato";
    font-weight: 400;
}

.text-hospedagens {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.align-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-mapa-brasil {
    height: 340px;
    width: 434px;
}


/* ******** SECTION PESQUISA ********* */

.section-pesquisa {
    background-color: #fff;
    width: 942px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Border */
    /* border: 2px solid; */
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* Position */
    position: absolute;
    top: 415px;
    left: 288px;
}

.section-pesquisa .item-pesquisa {
    display: flex;
    width: 235px;
    height: 40px;
    gap: 10px;
    border-right: 2px #000 dashed;
    justify-content: center;
    align-items: center;
}

.section-pesquisa p {
    font-family: "Lato";
}

.section-pesquisa .item-hotel-box {
    width: 235px;
    display: flex;
    justify-content: center;
}

.section-pesquisa .item-hotel-box .item-hotel {
    display: flex;
    gap: 10px;
    background-color: #009C3B;
    width: 160px;
    height: 45px;
    border-radius: 8px;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.section-pesquisa .item-pesquisa .img-pesquisa {
    width: 14px;
    height: 16px;
}


/* ****************************** */

.section-2 {
    height: 691px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items:;- */
}

.section-2 .align-section2 {
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
}

.section-2 article {
    width: 280px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-2 .img-hotel {
    width: 100%;
    height: 170px;
    border-radius: 8px;
}

.section-2 h1 {
    color: #2E2636;
    font-size: 16px;
    font-family: "Lato";
}

.section-2 p {
    color: #33303E;
    font-size: 12px;
    font-family: "Lato";
}


/* **********  Section 3 ************* */

.section-3 {
    display: flex;
    justify-content: space-between;
}

.section-3 .text-section3 {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-3 h1 {
    font-size: 28px;
    width: 455px;
    font-family: "Lato";
    font-weight: 800;
}

.section-3 p {
    font-size: 20px;
    font-family: "Lato";
    font-weight: 500;
}

.section-3 #hotel-color {
    color: #002777;
}

.section-3 #promocoes-color {
    color: #019438;
}

.section-3 #naoPerca-color {
    color: #019438;
}

.section-3 #melhor-color {
    color: #FFDF00;
}

.section-3 .img-travel {
    width: 450px;
    height: 300px;
}


/* ********* Section 4 ********* */

.section-4 {
    background: linear-gradient(to left, #009C3B, #009538);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.section-4 .info-section3 {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-4 .img-bubbles {
    width: 320px;
    height: 160px;
}

.section-4 h2 {
    font-size: 24px;
    font-family: "Lato";
    font-weight: 500;
}

.section-4 p {
    font-size: 16px;
    font-family: "Lato";
    font-weight: 400;
}


/* ************ Section 5 */

.section-5 {
    height: 50px;
    background-color: #FFDF00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2E2736;
}

.section-5 p {
    font-family: "Lato";
    font-weight: 800;
}

@media only screen and (max-width: 600px) {
    .grid-layout {
        width: 90%;
        max-width: 1600px;
    }
    /* header */
    header .menu-hamburguer {
        display: block;
        color: #fff;
    }
    header #menu {
        display: block;
    }
    header #nav-web {
        display: none;
    }
    header #img-logo {
        display: none;
    }
    .section-1 .img-mapa-brasil {
        display: none;
    }
    .section-2 {
        height: 2300px;
    }
    .section-2 .align-section2 {
        flex-direction: column;
        align-items: center;
        margin: 15px;
        gap: 30px;
    }
    .section-pesquisa {
        display: none;
    }
    .section-3 .img-travel {
        display: none;
    }
    .section-3 h1 {
        font-size: 18px;
        width: 300px;
    }
    .section-3 p {
        font-size: 18px;
        width: 350px;
    }
    .section-4 {
        align-items: center;
        justify-content: center;
    }
    .section-4 .img-bubbles {
        display: none;
    }
    .section-4 h2 {
        font-size: 14px;
    }
    .section-4 p {
        font-size: 14px;
    }
}