@font-face {
    font-family: 'titilium web black';
    src: url(../assets/fonts/titilium/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: 'titilium web bold';
    src: url(../assets/fonts/titilium/TitilliumWeb-Bold.ttf);
}

main {
    background-image: url(../assets/images/Banner_cadastro_de_Equipe-cll.png);
    background-size: cover;
    height: 1230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro {
    height: 490px;
    width: 335px;
    background: linear-gradient(112.07deg, rgba(27, 20, 38, 0.6) 0%, rgba(60, 3, 65, 0.38) 98.83%);
    /* backdrop-filter: blur(5px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cadastro .h1hr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro h1 {
    font-size: 28px;
    font-family: 'titilium web black';
}

.cadastro hr {
    text-align: center;
    width: 250px;
    border: 2px solid #F9AA01;
}

.cadastro .inputs {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cadastro input {
    width: 270px;
    height: 40px;
    color: white;
    padding-left: 10px;
    background-image: linear-gradient(112.07deg, rgba(27, 20, 38, 0.6) 0%, rgba(60, 3, 65, 0.38) 98.83%);
    border-radius: 8px;
}

.cadastro input::placeholder {
    color: white;
}

.cadastro button {
    width: 270px;
    height: 40px;
    border-radius: 8px;
    font-size: 24px;
    font-family: 'titilium web bold';
    background-color: #F9AA01;
}